$default-blue: #243f4d;
$default-black: #191919;
$bg: #fcd7b6;
$grey: #7b7b7b;
$btn-color: #a3bbc8;


%rubik-regular{
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-medium{
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%dmsans-regular{
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dmsans-medium{
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}

%dmsans-bold{
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}